{% extends "base.html.jinja" %}

{% block head %}
    <title> Flask API Data Structures Homepage </title>
{% endblock %}

{% block body %}
    <h1 style="text-align: center; font-family: Arial; font-size: 18"> Flask API Data Structures </h1>
    <p>
        <ol style="text-align: center">
            <li><a href="https://www.thunderclient.io">Thunder Client</a>: For testing APIs.</li>
            <li><a href="https://marketplace.visualstudio.com/items?itemName=mtxr.sqltools">SQLTools</a>: For connecting to databases.</li>
        </ol>
    </p>
{% endblock %}
