{% extends "base.j2" %}

{% block head %}
    <title> Flask API Data Structures Homepage </title>
{% endblock %}

{% block body %}
    <h1 style="text-align: center; font-family: Arial; font-size: 18"> Flask API Data Structures </h1>
{% endblock %}